body {
  background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.profile h2 {
  color: white;
  transform: translateY(10px);
}
.profile h5 {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.profilImage {
  width: 200px;
}
.biodata {
  background: linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
  padding-bottom: 200px;
}
.row {
  padding: 0px, 20px;
}
.btn-color {
  color: #ffffff;
}
.started {
  margin-bottom: -1px;
}
.pencapaian {
  color: #ffffff;
}
.footer {
  background-color: #ffffff;
}
.watermark {
  padding-top: 20px;
}
